### Commented entries have reasonable defaults.
### Uncomment to edit them.
Source: philsf-likes-workstation
Section: metapackages
Priority: optional
Maintainer: Felipe Figueiredo <philsf79@gmail.com>
# Homepage: <enter URL here; no default>
Build-Depends: debhelper (>= 7), germinate
Standards-Version: 3.9.4


Package: philsf-likes-workstation
# Version: defaults to changelog version
# Maintainer: Felipe Figueiredo <philsf79@gmail.com>
# Pre-Depends: <comma-separated list of packages>
Depends: ${misc:Depends}
Recommends: antiword, 
 aptitude,
 aspell-en,
 aspell-pt,
 build-essential,
 byobu,
 colordiff,
 default-jdk,
 devscripts,
 dos2unix,
 decryptfs-utils,
 emacs | emacs27 | emacs26 | emacs25 | emacs24,
 equivs,
 git-all | git | git-core,
 git-doc,
 gnuplot,
 htop,
 ibrazilian,
 iportuguese,
 iamerican,
 mendeleydesktop,
 mlocate | locate,
 most,
 odt2txt,
 octave-doc,
 packaging-dev,
 pandoc,
 prosper,
 pybliographer,
 rsync,
 samba,
 sqlite-doc,
 sqlite3-doc,
 ssh,
 subversion,
 texlive-bibtex-extra,
 texlive-lang-english,
 texlive-lang-portuguese,
 texlive-latex-extra,
 texlive-latex-recommended,
 texlive-math-extra,
 texlive-publishers,
 ubuntu-minimal,
 ubuntu-standard,
 untex,
 vim,
Suggests: bzr,
 bzr-builddeb,
 bzr-doc,
 bzr-git,
 bzrtools,
 bzr-explorer | bzr-gtk,
 bioperl,
 bzr-svn,
 dvc,
 git-svn,
 magit,
 nautilus-bzr,
 philsf-likes-stats,
 pdl,
 psh | libdevel-repl-perl,
# Provides: <comma-separated list of packages>
# Replaces: <comma-separated list of packages>
Architecture: all
# Copyright: <copyright file; defaults to GPL2>
# Changelog: <changelog file; defaults to a generic changelog>
# Readme: <README.Debian file; defaults to a generic one>
# Extra-Files: <comma-separated list of additional files for the doc directory>
# Files: <pair of space-separated paths; First is file to include, second is destination>
#  <more pairs, if there's more than one file to include. Notice the starting space>
Description: Metapackage to install workstation related packages
 long description and info
 .
 second paragraph
