### Commented entries have reasonable defaults.
### Uncomment to edit them.
Source: philsf-likes-workstation
Section: metapackages
Priority: optional
Maintainer: Felipe Figueiredo <philsf79@gmail.com>
# Homepage: <enter URL here; no default>
Build-Depends: debhelper (>= 7), germinate
Standards-Version: 3.9.4


Package: philsf-likes-workstation
# Version: defaults to changelog version
# Maintainer: Felipe Figueiredo <philsf79@gmail.com>
# Pre-Depends: <comma-separated list of packages>
Depends: ${misc:Depends}
Recommends:
	antiword,
	acpi,
	adb,
	apt-file,
	aptitude,
	aspell-en,
	aspell-pt,
	build-essential,
	byobu,
	default-jdk,
	devscripts,
	tofrodos | dos2unix,
	fastboot,
	libpam-fscrypt | ecryptfs-utils,
	emacs | emacs27 | emacs26 | emacs25 | emacs24,
	equivs,
	git | git-core | git-all,
	gh | hub,
	heimdall-flash | heimdall-flash-frontend,
	htop,
	iamerican,
	ibrazilian,
	iportuguese,
	imagemagick,
	lm-sensors,
	lynx | elinks,
	curl,
	lm-sensors,
	locate | plocate | mlocate,
	lsb-base,
	most,
	odt2txt,
	packaging-dev,
	pandoc,
	rabbitvcs-nautilus,
	rename,
	rsync,
	samba,
	smartmontools,
	ssh,
	texlive-bibtex-extra,
	texlive-lang-english,
	texlive-lang-portuguese,
	texlive-latex-extra,
	texlive-latex-recommended,
	texlive-math-extra,
	texlive-publishers,
	ubuntu-minimal,
	ubuntu-standard,
	untex,
	vim,
Suggests:
	activity-log-manager,
	bzr,
	bzr-builddeb,
	bzr-doc,
	bzr-git,
	bzrtools,
	bzr-explorer | bzr-gtk,
	bioperl,
	bzr-svn,
	code,
	ctxusb,
	dvc,
	forensics-all,
	git-doc,
	git-svn,
	gnuplot,
	icaclient,
	harden-doc,
	magit,
	mendeleydesktop,
	nautilus-bzr,
	octave-doc | octave,
	philsf-likes-stats,
	prosper,
	pybliographer,
	pdl,
	psh | libdevel-repl-perl,
	subversion,
	sqlite3 | sqlite3-doc,
	ufw,
	usg,
# Provides: <comma-separated list of packages>
# Replaces: <comma-separated list of packages>
Architecture: all
# Copyright: <copyright file; defaults to GPL2>
# Changelog: <changelog file; defaults to a generic changelog>
# Readme: <README.Debian file; defaults to a generic one>
# Extra-Files: <comma-separated list of additional files for the doc directory>
# Files: <pair of space-separated paths; First is file to include, second is destination>
#  <more pairs, if there's more than one file to include. Notice the starting space>
Description: Power-user Command Line and Development Toolkit
 A comprehensive suite for power users, researchers, and developers. This package bridges the gap between basic desktop usage and heavy-duty technical work.
 .
 It prioritizes efficient text processing (Emacs, Vim, Pandoc), version control (git, gh, rabbitvcs-nautilus), and system diagnostics (htop, smartmontools). It also includes a full LaTeX stack for academic publishing and advanced CLI utilities for automation and remote systems management via SSH.
